body{
    margin: 0%;
    padding: 0%;
    background-color: #e7a6b4;
}

#splash{
    position: fixed;
    z-index:3;
    width: 100%;
    height: 100vh;
    animation-fill-mode: forwards ;
    animation-duration: 1s;
    animation-name: fadeIn;
}

#splash, img{
    width: 100%;
}

@keyframes fadeIn{
    to{
    opacity: 1;}
}

@keyframes fadeOut{
    to{opacity: 0;}
}

#content{
    padding: 0;
    margin: 0;
}

#video{
    width: 100%;
}

#video, video{
    width: 100%;
}

